---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import { FiGithub, FiLinkedin, FiDownload } from "react-icons/fi";
import downloadGif from "../../assets/note-ezgif.com-optimize.gif";
import Image from "astro/components/Image.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<header class="flex flex-col-reverse items-center justify-between h-screen bg-sage-200 text-black lg:flex-row">

    <!--Image-->
    <div class="flex flex-col item-center justify-center text-black w-full h-1/2 lg:w-1/2 lg:h-screen">
        <p>Aqui va la imagen</p>
    </div>

    <!--Description-->
    <div class="flex flex-col items-center justify-center w-full h-1/2 lg:w-1/2 lg:h-screen px-6 lg:px-0">
        <h3 class="text-black text-xl label-primary">{t('hero.greeting')}</h3>
        <h1 class="mt-4 font-bold text-5xl heading-xl text-sage-950">Paul Delgado</h1>
        <p class="mt-8 text-black font-thin heading-md">{t('hero.title')}</p>

        <!-- CV Visualization, LinkedIn + GitHub Buttons-->
        <div class="flex items-center justify-center mt-12 gap-x-4 sm:space-x-12 px-4 py-6">
            <a href="https://drive.google.com/file/d/1W639TBDQBfjoqrsTEe2_XfZe-eOebaw0/view?usp=sharing" target="_blank" class="decoration-none inline-flex items-center gap-x-2 bg-sage-300 text-sage-900 hover:text-gray-100 p-4 rounded-full hover:bg-sage-800 transition-colors duration-200 hover:shadow-lg md:cursor-pointer">
                <button class="btn btn-primary btn-text flex flex-row gap-x-4 justify-center items-center px-2">
                    <FiDownload size="24"/>
                    <span class="block md:hidden label-secondary">{t('hero.cta.mobile-cv')}</span>
                    <span class="hidden md:block label-primary">{t('hero.cta.download-cv')}</span>
                </button>
            </a>
            <span class="flex flex-row gap-x-4 sm:gap-x-6 [&>*>]:label-primary">
                <a href="https://www.linkedin.com/in/pauldelgado9924/" target="_blank"
                class="text-sage-900 hover:text-gray-100 p-4 rounded-full bg-sage-300 hover:bg-sage-800 transition-colors duration-200 hover:shadow-lg md:cursor-pointer">
                    <FiLinkedin size="24"/>
                </a>
                <a href="https://github.com/bryandelgado99" target="_blank"
                class="text-sage-900 hover:text-gray-100 p-4 rounded-full bg-sage-300 hover:bg-sage-800 transition-colors duration-200 hover:shadow-lg md:cursor-pointer">
                    <FiGithub size="24"/>
                </a>
            </span>
        </div>
    </div>

</header>