---
import '../styles/global.css';
import Navbar from "../components/Navbar.astro";
import LanguageSwitchOverlay from "../components/LanguageSwitchOverlay.astro";

const {title} = Astro.props;
---

<!-- Layout Principal -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>

</head>
<body class="min-w-[400px] max-w-screen-3xl mx-auto">
    <Navbar/>
    <slot/>
    <LanguageSwitchOverlay/>
</body>
</html>

<style>
    body {
        background-color: black
    }
    @media (max-width: 768px) {
        body {
            padding-top: 4rem; /* 64px - altura del navbar mobile */
        }
    }
</style>